<app-preloader></app-preloader>
<br>
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/"></a></li>
            <li class="breadcrumb-item active" aria-current="page">Касса</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <!-- left -->
      </div>
      <div>
        <span style="font-size: 30px; margin-top: -50px; position: absolute;">{{ now | date:'HH:mm:ss'}}</span><p style="margin-top: -20px; font-size: 14px;">&nbsp;&nbsp;&nbsp;{{ now | date:'dd-MM-YYYY'}}г.</p>
      </div>
    </div>
    <dx-autocomplete  #autoCompl
      [dataSource]="employeesTasks"
      [showClearButton]="true"
      [searchExpr]='["code", "title","price"]'
      (onItemClick)="addproduct($event)"
      valueExpr="DisplayName">
      <div *dxTemplate="let item of 'item'">
        <div class="link-primary">{{item.title}} - {{transform(item.price)}}₽ <span style="font-size: 9px; color: red;">арт: {{item.code}}</span></div>
      </div>
    </dx-autocomplete>
    <hr>
    <div style="height: 250px; overflow-y: scroll;">
        <form #f="ngForm" novalidate>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Товар</th>
              <th scope="col">Колличество</th>
              <th scope="col">Доступное кол.</th>
              <th scope="col">Сумма</th>
              <th scope="col">Итого</th>
            </tr>
          </thead>
          <tbody *ngFor="let basket of li; let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td><a routerLink="/page/{{ basket['product_id'] }}" style="color: black;">{{ basket['product_name'] }}</a><br><a href="javascript:void(0)"><span class="text-danger" style="font-size:10px;" (click)="DelProduct(basket['id'])">удалить</span></a></td>
              <td>
                <div class="form-outline">
                    <input type="number" id="{{ basket['id'] }}" ngModel="{{ basket['product_count'] }}" name="product_count{{ basket['id'] }}" (click)="CountProduct($event)" class="form-control w-25" />
                </div>
                </td>
              <td>{{basket['quantity']}}</td>
              <td>{{transform(basket['price'])}}₽</td>
              <td>{{transform(basket['total_price'])}}₽</td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
</div>
<div class="container-fluid" style="
        position: absolute;
        bottom: 0;
        background: #faecd1;
        height: 100px;
        ">
  <div class="row">
    <div class="col-sm" style="font-size: 60px;">
      &nbsp;&nbsp;&nbsp;Итого
    </div>
    <div class="col-sm" style="font-size: 60px;">
      &nbsp;&nbsp;{{ pcount }} шт.
    </div>
    <div class="col-sm" style="font-size: 60px;">
      {{ transform(price) }}₽&nbsp;<button type="button" class="btn btn-outline-warning btn-square-md" data-mdb-ripple-color="dark" (click)="Order()">ОПЛАТА</button>
    </div>
  </div>
</div>
<style>
.btn-square-md {
    width: 90px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 90px !important;
    text-align: center;
    padding: 0px;
    font-size:12px;
}
.card-body{
    position: absolute;
    margin-top: 150px;
}
.card {
    width: 15rem;
    height: 390px;
    margin: 20px;
}
.card-img-top{
/*height: 250px;*/
}
.card-title{
    position: absolute;
    font-size: 18px;
}
.card-text{
    height: 95px;
    margin-top: 50px;
    font-size: 12px;
}
.btn{
    position: absolute;
    top: 5px;
    right: 10px;
}
</style>