<app-preloader></app-preloader>
<br>
<div class="container">
</div>
<div class="container">
    <nav class="navbar">
        <ul class="navbar-nav flex-row" style="margin-left: auto; margin-right: 10px;">
            <li class="nav-item me-3 me-lg-1" (click)="CloseCatalog()"><button type="button" class="btn btn-outline-secondary" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button></li>
            <li class="nav-item me-3 me-lg-1" (click)="OpenCatalog()"><button type="button" class="btn btn-outline-secondary" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="fa fa-th-large fa-2x" aria-hidden="true"></i></button></li>
        </ul>
    </nav>
    <div class="container" id="catalogviews-close" style="display: none;">
        <div class="row row-cols-4">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Товар</th>
                  <th scope="col">Описание</th>
                  <th scope="col">Стоимость</th>
                </tr>
              </thead>
              <tbody *ngFor="let post of li; let i = index">
                <tr routerLink="/page/{{ post['id'] }}" style="cursor: pointer;">
                  <th scope="row">{{i+1}}</th>
                  <td>{{ post['title'] }}</td>
                  <td style="width:45%;">{{ (post['description'].length>6)? (post['description'] | slice:0:120)+'...':(post['description']) }}</td>
                  <td>{{ transform(post['price']) }}₽</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
    <div class="container" id="catalogviews-open">
        <div class="row row-cols-4" >
            <div class="col" *ngFor="let post of li;">
                <div class="card">
                    <img routerLink="/page/{{ post['id'] }}" src="https://cms.dolinais.ru/uploads/{{ post['files_post'] }}" class="card-img-top" alt="{{ post['title'] }}" width="auto" height="auto" style="cursor: pointer;">
                    <span style="position: absolute; background: #757575; padding: 5px; margin-top: 60px; text-align: center; color: #fff">{{ transform(post['price']) }}₽</span>
                    <div class="card-body">
                        <h5 class="card-title">{{ post['title'] | slice:0:30 }}</h5>
                        <p routerLink="/page/{{ post['id'] }}" class="card-text" style="cursor: pointer;">{{ (post['description'].length>6)? (post['description'] | slice:0:120)+'...':(post['description']) }} </p>
                        <a class="btn btn-primary"><i class="fa fa-shopping-cart"></i></a>
                        <!-- <button routerLink="/page/{{ post['id'] }}" type="button" class="btn btn-danger btn-floating" style="margin-left: 10px;" data-mdb-ripple-init data-mdb-ripple-color="dark"><i class="fa fa-question"></i></button> -->
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <nav aria-label="навигация по страницам">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Предыдущая</a></li>
            <li class="page-item" *ngFor="let post of li;">
                <a class="page-link" routerLink="/page/{{ post['id'] }}">{{ post['id'] }}</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
        </ul>
   </nav>
</div>
<hr>
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">2024</small>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Разработчикам</a></li>
                <li><a class="text-muted" href="#">API</a></li>
                <li><a class="text-muted" href="#">Инструкции</a></li>
                <li><a class="text-muted" href="#">Документы</a></li>
                <li><a class="text-muted" href="/articles/page/download">Скачать</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="/account">Личный кабинет</a></li>
                <li><a class="text-muted" href="#">О нас</a></li>
                <li><a class="text-muted" href="#">Контакты</a></li>
                <li><a class="text-muted" href="#">Лицензия</a></li>
            </ul>
        </div>
    </div>
</footer>
<style>
    .card-body{
        position: absolute;
        margin-top: 222px;
    }
    .card {
        width: 15rem;
        height: 465px;
        margin: 20px;
    }
    .card-img-top{
/*        height: 250px;*/
    }
    .card-title{
        position: absolute;
        font-size: 18px;
    }
    .card-text{
        height: 95px;
        margin-top: 50px;
        font-size: 12px;
    }
    .btn{
/*        position: absolute;*/
/*        margin-top: 10px;*/
    }
</style>