<app-preloader></app-preloader>
<hr>
<div class="container" *ngFor="let post of li;">
    <div class="container">
       <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <!-- <a routerLink="/"><button type="button" class="btn btn-outline-secondary"><i class="fa fa-arrow-left fa-3x"></i></button></a> -->
        <a class="btn text-white btn-lg btn-floating" data-mdb-ripple-init style="position: fixed; bottom: 10px; background-color: #757575;" routerLink="/" role="button"><i class="fa fa-arrow-left fa-3x"></i></a>
        <button type="button" class="btn btn-primary btn-lg btn-floating" style="margin-left: 4px; position: fixed; bottom: 80px;" data-mdb-ripple-init><i class="fa fa-shopping-cart"></i></button>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ post['title'] }}</li>
            </ol> -->
       </nav>
    </div>
    <div class="row" *ngIf=!isEdit>
        <div class="col">
            <img src="https://cms.dolinais.ru/uploads/{{ post['files_post'] }}" class="img-fluid" alt="...">
        </div>
        <div class="col pagetext" (click)="savePost()">
            <h1>{{ post['title'] }}</h1>
            <style>
                .pagetext:hover{
                    background: #f8f8f8;
                    cursor: pointer;
                }
            </style>
          {{ post['description'] }}
            <hr>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid justify-content-between">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item dropdown me-3 me-lg-1">
                            <a class="nav-link dropdown-toggle hidden-arrow" href="#showComments">
                                <i class="fas fa-commenting fa-lg"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">100</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown me-3 me-lg-1">
                            <a class="nav-link dropdown-toggle hidden-arrow" href="#">
                                <i class="fas fa-heart fa-lg"></i>
                                <span class="badge rounded-pill badge-notification bg-danger">100</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown me-3 me-lg-1">
                            <a class="nav-link dropdown-toggle hidden-arrow" href="#">
                                <i class="fas fa-share-alt fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                    <i class="fa-regular fa-face-frown fa-3x"></i>
                    <i class="fa-regular fa-face-meh fa-3x"></i>
                    <i class="fa-regular fa-face-smile fa-3x"></i>
                </div>
            </nav>
            <hr>
            <!-- <input type="button" value="Редактировать" class="btn btn-link" (click)="savePost()" /> -->
        </div>
    </div>
    <div class="row" *ngIf=isEdit>
        <div class="col">
            <img src="https://cms.dolinais.ru/uploads/{{ post['files_post'] }}" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <input type="text" [(ngModel)]="post['title']" class="form-control" /><br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="post['description']"></textarea>
            <hr>
            <input type="button" value="Сохранить" class="btn btn-link" (click)="savePost()" />
        </div>
    </div>
</div>