<app-preloader></app-preloader>
<br>
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Найти товар или услугу</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <!-- left -->
      </div>
      <div>
        <span style="font-size: 30px; margin-top: -50px; position: absolute;">{{ now | date:'HH:mm:ss'}}</span><p style="margin-top: -20px; font-size: 14px;">&nbsp;&nbsp;&nbsp;{{ now | date:'dd-MM-YYYY'}}г.</p>
      </div>
    </div>
    <dx-autocomplete  #autoCompl
      [dataSource]="employeesTasks"
      [searchExpr]='["code", "title","price"]'
      valueExpr="DisplayName">
      <div *dxTemplate="let item of 'item'">
        <div class="link-primary">{{item.code}} {{item.title}} - {{item.price}} руб.</div>
      </div>
    </dx-autocomplete>
    <hr>
    <div style="height: 250px; overflow-y: scroll;">
        <form #f="ngForm" (click)="saveData(f)" novalidate>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">№</th>
              <th scope="col">Товар</th>
              <th scope="col">Колличество</th>
              <th scope="col">Сумма</th>
              <th scope="col">Итого</th>
            </tr>
          </thead>
          <tbody *ngFor="let basket of li;">
            <tr>
              <th scope="row">{{ basket['id'] }}</th>
              <td>{{ basket['product_name'] }}<br><a href="javascript:void(0)"><span class="text-danger" style="font-size:10px;" (click)="DelProduct(basket['id'])">удалить</span></a></td>
              <td>
                <div class="form-outline">
                    <input type="number" id="{{ basket['id'] }}" ngModel="{{ basket['product_count'] }}" name="product_count{{ basket['id'] }}" class="form-control w-25" />
                </div>
                </td>
              <td>{{transform(basket['price'])}}₽</td>
              <td>{{transform(basket['total_price'])}}₽</td>
            </tr>
          </tbody>
        </table>
        </form>
    </div>
<!-- <div class="row g-3">
  <div class="col-sm-9">
  </div>
  <div class="col-sm">
    <button type="submit" class="btn btn-primary">НАЛИЧНЫМИ</button>
  </div>
  <div class="col-sm">
    <button type="submit" class="btn btn-primary">ТЕРМИНАЛ</button>
  </div>
</div> -->


<!-- <img alt='Barcode Generator TEC-IT' src='https://barcode.tec-it.com/barcode.ashx?data=01234567&code=MSI'/> -->
</div>
<div class="container-fluid" style="
        position: absolute;
        bottom: 0;
        background: #faecd1;
        height: 100px;
        ">
  <div class="row">
    <div class="col-sm" style="font-size: 60px;">
      &nbsp;&nbsp;&nbsp;Итого
    </div>
    <div class="col-sm" style="font-size: 60px;">
      &nbsp;&nbsp;{{ pcount }} шт.
    </div>
    <div class="col-sm" style="font-size: 60px;">
      {{ transform(price) }}₽&nbsp;<button type="button" class="btn btn-outline-warning btn-square-md" data-mdb-ripple-color="dark">ОПЛАТА
                </button>
    </div>
  </div>
</div>
<style>
.btn-square-md {
width: 90px !important;
max-width: 100% !important;
max-height: 100% !important;
height: 90px !important;
text-align: center;
padding: 0px;
font-size:12px;
}
    .card-body{
        position: absolute;
        margin-top: 150px;
    }
    .card {
        width: 15rem;
        height: 390px;
        margin: 20px;
    }
    .card-img-top{
/*        height: 250px;*/
    }
    .card-title{
        position: absolute;
        font-size: 18px;
    }
    .card-text{
        height: 95px;
        margin-top: 50px;
        font-size: 12px;
    }
    .btn{
/*        position: absolute;*/
/*        margin-top: 10px;*/
    }
</style>