<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cms.dolinais.ru/resources/style/Font-Awesome-Free-6.4.0.css" rel="stylesheet">
    <link href="https://cms.dolinais.ru/resources/style/mdb.min.css" rel="stylesheet">
    <title></title>
</head>
<body>
    <header>
        <nav class="sidebar mCustomScrollbar _mCS_1 mCS-autoHide active" style="overflow: visible;" id="nav-open">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                    <!-- close sidebar menu -->
                    <div class="dismiss" (click)="CloseMenu()">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="logo">
                        <!-- <h3><a routerLink="/lp">Home</a></h3> -->
                    </div>
                    <ul class="list-unstyled menu-elements" *ngIf="authService">
                        <li routerLinkActive="{{isActive()}}">
                            <a class="scroll-link" routerLink="/basket"><i class="fa fa-shopping-cart"></i> Корзина</a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/catalog"><i class="fa fa-barcode"></i> Каталог</a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-user"></i> Личный кабинет</a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-pencil-alt"></i> Создать запись</a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-cog"></i> Настройки</a>
                        </li>
                        <li>
                            <a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button" aria-controls="otherSections">
                                <i class="fas fa-sync"></i>Дополнительно
                            </a>
                            <ul class="collapse list-unstyled" id="otherSections">
                                <li>
                                    <a class="scroll-link" href="#section-3">Our projects</a>
                                </li>
                                <li>
                                    <a class="scroll-link" href="#section-4">We think that...</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="to-top"></div>
                    <div class="dark-light-buttons"></div>
                </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 31px; max-height: 116.333px; top: 0px;">
                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>
        </nav>

        <nav class="sidebar mCustomScrollbar _mCS_1 mCS-autoHide active" id="nav-close" style="width: 55px; display: none; overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                    <!-- close sidebar menu -->
                    <div class="dismiss" (click)="OpenMenu()">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                    <div class="logo">
                        <!-- <h3><a routerLink="/lp">Home</a></h3> -->
                    </div>
                    <ul class="list-unstyled menu-elements" *ngIf="authService">
                        <li routerLinkActive="{{isActive()}}">
                            <a class="scroll-link" routerLink="/basket"><i class="fa fa-shopping-cart"></i></a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/catalog"><i class="fa fa-barcode"></i></a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-user"></i></a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-pencil-alt"></i></a>
                        </li>
                        <li>
                            <a class="scroll-link" routerLink="/account"><i class="fas fa-cog"></i></a>
                        </li>
                    </ul>
                    <div class="to-top"></div>
                    <div class="dark-light-buttons"></div>
                </div>
            </div>
            <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;">
                <div class="mCSB_draggerContainer">
                    <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 31px; max-height: 116.333px; top: 0px;">
                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-between">
                <!-- Left elements -->
                <div class="d-flex">
                    <!-- Brand -->
                    <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
                        <img src="https://cms.dolinais.ru/resources/img/logo.png" height="20" alt="" loading="lazy" style="margin-top: 2px;">
                    </a>
                    <!-- Left links -->
                    <!-- <ul class="navbar-nav flex-row d-none d-md-flex">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/account">Личный кабинет</a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul> -->
                    <!-- Left links -->
                </div>
                <!-- Left elements -->

                <!-- Center elements -->
                <ul class="navbar-nav flex-row d-none d-md-flex" *ngIf="authService">
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link">
                            <span>
                                <i class="fas fa-comments fa-lg"></i>
                                 <span class="badge rounded-pill badge-notification bg-danger" id="notificationsApiController">6</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                          <span><i class="fas fa-shopping-bag fa-lg"></i></span>
                          <span class="badge rounded-pill badge-notification bg-danger">10</span>
                      </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                          <span><i class="fas fa-users fa-lg"></i></span>
                          <span class="badge rounded-pill badge-notification bg-danger">2</span>
                      </a>
                    </li>
                    <li class="nav-item dropdown me-3 me-lg-1">
                        <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell fa-lg"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">12</span>
                        </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="/page/create">
                          <span><i class="fas fa-plus-circle fa-lg"></i></span>
                        </a>
                    </li>
                </ul>
                <!-- Center elements -->
                <!-- Right elements -->
                <ul class="navbar-nav flex-row" *ngIf="authService">
                    <li class="nav-item me-3 me-lg-1">
                        <a class="nav-link" href="#">
                          Выручка {{ balance }}₽
                      </a>
                    </li>
                    <li class="nav-item me-3 me-lg-1">
                        <form action="/account/auth" method="post">
                        <a class="nav-link d-sm-flex align-items-sm-center" href="/logout" (click)="logout()">
                            <strong class="d-none d-sm-block ms-1"><i class="fa fa-sign-out"></i> Выйти</strong>
                        </a>
                        </form>
                    </li>
                </ul>
                <!-- Right elements -->
            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <content>
        <router-outlet>

        </router-outlet>
    </content>

</body>
</html>
<style>
/***** Sidebar *****/

.sidebar {
    width: 250px; height: 100vh; position: fixed; top: 0; left: -255px; z-index: 999;
    background: #616161; color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
    text-align: left;
}

.sidebar.active { left: 0; }

.dismiss {
    width: 35px; height: 35px; position: absolute; top: 10px; right: 10px; transition: all .3s;
    background: #444; border-radius: 4px; text-align: center; line-height: 35px; cursor: pointer;
}

.dismiss:hover, .dismiss:focus { background: #555; color: #fff; }

.sidebar .logo { padding: 40px 20px; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar .logo a {
    display: inline-block;
    width: 172px;
    height: 34px;
    background: url(httpa://cms.dolinais.ru/resources/img/logo.png) left top no-repeat;
    background-size: auto 30px;
    border: 0;
    text-indent: -999999px;
}

.sidebar ul.menu-elements { padding: 10px 0; border-bottom: 1px solid #444; transition: all .3s; }

.sidebar ul li a {
    display: block; padding: 10px 20px;
    border: 0; color: #fff;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus { outline: 0; background: #555; color: #fff; }

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #444;
    color: #fff;
}

.sidebar ul ul a { background: #444; padding-left: 30px; font-size: 14px; }

.sidebar ul ul li.active > a { background: #555; }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .to-top { padding: 20px; text-align: center; }

.sidebar .dark-light-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

.sidebar.light { background: #fff; color: #888; }

.sidebar.light .dismiss { background: #ddd; color: #888; }

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus { background: #ccc; color: #888; }

.sidebar.light .logo { border-color: #eee; }
.sidebar.light .logo a { background-image: url(../img/logo-dark.png); }

.sidebar.light ul.menu-elements { border-color: #eee; }

.sidebar.light ul li a { color: #888; }

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: #ccc; color: #888; }

.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
    background: #ddd;
    color: #888;
}

.sidebar.light ul ul a { background: #ddd; }

.sidebar.light ul ul li.active > a { background: #ccc; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #888; }

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: #555; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    background: #ccc; color: #fff;
}

</style>