<app-preloader></app-preloader>
<div class="container mt-5">
    <div class="row custom-wrapper">
        <h2 class="mb-3 text-center">Статистика продаж</h2>
        <dx-autocomplete
            [dataSource]="employeesTasks"
            valueExpr="title"
        >
        </dx-autocomplete>
    </div>
</div>

<div><br></div>
<div class="container">
    <button type="button" class="btn btn-outline-success">Баланс: 12 500 000₽</button>
    <div class="canvas">
        <div class="legend">
            <p class="title">Продажи</p>
            <ul class="caption-list">
                <li class="caption-item">Для кухни</li>
                <li class="caption-item">Для комнаты</li>
                <li class="caption-item">Для гаража</li>
                <li class="caption-item">Для бани</li>
                <li class="caption-item">Для усадьбы</li>
                <li class="caption-item">Для дачи</li>
                <li class="caption-item">Другие</li>
            </ul>
        </div>

        <svg class="chart" width="500" height="500" viewBox="0 0 50 50">
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
            <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
        </svg>
    </div>
</div>
<script></script>
<style>

@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.legend {
  max-width: 250px;
  margin-left: 30px;
}

.title {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #591d48;
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  position: relative;

  margin: 20px 0;
  padding-left: 30px;

  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #591d48;
  cursor: pointer;
}

.caption-item:hover {
  opacity: 0.8;
}

.caption-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  border-radius: 8px;
}

.caption-item:nth-child(1)::before {
  background-color: #86cfa3;
}

.caption-item:nth-child(2)::before {
  background-color: #a2c6e0;
}

.caption-item:nth-child(3)::before {
  background-color: #ffc7ec;
}

.caption-item:nth-child(4)::before {
  background-color: #f8faa0;
}

.caption-item:nth-child(5)::before {
  background-color: #adffd8;
}

.caption-item:nth-child(6)::before {
  background-color: #f2c48f;
}

.caption-item:nth-child(7)::before {
  background-color: #e3bfe2;
}

.chart {
  min-width: 500px;
}

.unit {
  fill: none;
  stroke-width: 10;
  cursor: pointer;

  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all;
  transition-duration: 1.5s;
}

.unit:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 12;
}

.unit:nth-child(1) {
  stroke: #86cfa3;
  stroke-dasharray: 8 100;
}

.unit:nth-child(2) {
  stroke: #a2c6e0;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -8;
}

.unit:nth-child(3) {
  stroke: #ffc7ec;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -19;
}

.unit:nth-child(4) {
  stroke: #f8faa0;
  stroke-dasharray: 14 100;
  stroke-dashoffset: -30;
}

.unit:nth-child(5) {
  stroke: #adffd8;
  stroke-dasharray: 11 100;
  stroke-dashoffset: -44;
}

.unit:nth-child(6) {
  stroke: #f2c48f;
  stroke-dasharray: 5 100;
  stroke-dashoffset: -55;
}

.unit:nth-child(7) {
  stroke: #e3bfe2;
  stroke-dasharray: 40 100;
  stroke-dashoffset: -60;
}
</style>

<style>
label {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
}
.group-gap {
    margin-bottom: 40px;
}
.btn.focus,
.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-select:focus {
    box-shadow: none;
}
.form-control:focus,
.custom-select:focus {
    border: 1px solid #f63240;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 13px 15px 15px;
    font-size: 16px;
    border-radius: 0;
}
.form-control {
    height: auto;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    background: #fbbe02;
    border: 1px solid #f63240;
}
.custom-select {
    height: auto;
    padding: 15px;
    font-size: 26px;
    cursor: pointer;
    font-weight: 400;
    color: #000;
    background-color: #fbbe02;
    border: 2px solid #000;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e91e63;
    background-color: #e91e63;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-control-label {
    cursor: pointer;
}
.error:focus,
.error {
    border-color: #e91e63;
    color: #e91e63;
}
.invalid-feedback {
    color: #e91e63;
}
.btn-danger,
body .btn-danger:hover {
    background: #f63240;
    border-color: #f63240;
    color: #fff;
}
</style>