<div><br></div>
<div class="container">
    <div class="mx-auto col-10 col-md-6 col-lg-4">
        <div class="input-group">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-floating">
                <div class="mb-3 col-md-8">
                    <div class="input-group">
          		        <span class="input-group-text" id="inputGroupPrepend">Номер</span>
                        <input formControlName="email" type="email" class="form-control" id="email">
                    </div>
                    <label *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Неверный Ввод</label>
                </div>

                <div class="mb-3 col-md-8">
                    <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend">Пароль</span>
                        <input formControlName="password" type="password" class="form-control" id="password" autocomplete="on">
                    </div>
                    <a href="#" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">Забыли пароль?</a>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Авторизоваться</button>
                </div>
            </form>
        </div>
    </div>
</div>